
.left{

    background: #188eee;
    position: relative;
}

.left .bg{
    position: absolute;
    left: 0;
    right: 0;
    top : 0;
    bottom: 0;
    background: url(http://coding.imweb.io/img/project/resume/bg.png) repeat -1px -19px;
    opacity: 6;
    animation: bg 4s linear infinite;
}

.left-content{
    min-height: 480px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.left-content img{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
    border-radius: 50%;
    background-color: white;
    margin-bottom:15px;
}

.left-content img:hover{
    animation: flashing 3s infinite;
}

.left-content .user-name{
    font-size: 24px;
    font-weight: bold;
}

.left-content .user-hobby{
    font-size: 12px;
    margin-bottom: 30px;
}

.left-content .user-list{
    margin-bottom: 20px;
}
.left-content .user-item{
    margin-bottom: 10px;
}

.left-content .user-item .iconfont{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 24px;
    height: 24px;
    padding :5px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 8px;
}

.user-info {
    width: 300px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    box-shadow: 0 0 0 1px #2b9eff;
    vertical-align: middle;
}


 .user-info .user-item{
     font-size: 12px;
     width: 50%;
     float: left;
     padding: 5px 0;
 }
.section {
    padding :20px 0;
}
 .section .section-hd{
     position: relative;
     text-align: center;
     margin-bottom: 20px;
 }

 .section-hd::before {
     content: "";
     width :100%;
     height: 1px;
     position: absolute;
     background: #ccc;
     left: 0;
     top: 50%;
 }

 .section-title {
     position: relative;
     display: inline-block;
     font-size: 18px;
     line-height: 3;
     background: #f5f5f5;
     padding:0 10px;
     color: #188eee;
 }

 .exp-list {
     position: relative;
     padding: 0 15px 0 30px;
 }

 .exp-list::before {
     content: "";
     position: absolute;
     width: 5px;
     left :15px;
     top: 10px;
     bottom :0;
     background: linear-gradient(to bottom,#ccc 85%, rgba(0, 0, 0, 0)) no-repeat;
     background-size:1px 100%;
 }

 .exp-list .exp-item{
     margin-bottom: 20px;
     position: relative;
 }
.exp-list .exp-item:last-child {
    margin-bottom: 0;
}

.exp-list .exp-item::before {
    content: "";
    width:10px;
    height: 10px;
    background: #188eee;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -20px;
    box-shadow: 0 0 0 5px rgba(24, 142, 238, 0.2);

}
.exp-list .exp-item:hover::before {
    animation :star 1s infinite;
}

.exp-company{
    font-size: 16px;
}

.exp-item .exp-duty{
    color: #999;
}

.skill-list{
    padding: 0 15px;
}

.skill-list .skill-item {
    margin-bottom: 20px;
    position: relative;
}
 .skill-item .skill-name{
     font-weight:bold;
 }
 .skill-item .skill-content{
     color: #999;
 }
 .skill-item .progress-wrap {
     position:relative;
     background: #ccc;
     overflow: hidden;
     border-radius: 2px;
     height: 4px;
 }
 .skill-item .progress-wrap .bar-percent {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: linear-gradient(to right, #117ad4 18%, #188eee, #10b1ed) no-repeat;
     border-radius: 2px;
     transform-origin: left top;
 }

 .skill-item:nth-of-type(1) .progress-wrap .bar-percent {
     transform: scaleX(0.2);
 }

 .skill-item:nth-of-type(2) .progress-wrap .bar-percent {
     transform :scaleX(0.9);
 }

 .skill-item:nth-of-type(3) .progress-wrap .bar-percent {
     transform : scaleX(0.5);
 }

.skill-item:hover .progress-wrap .bar-percent  {
     animation: progressInit 0.6s both;
 }
 .skill-item .skill-summary {
     position: absolute;
     right: 0;
     top: 4px;
     font-size: 12px;
     border: 1px solid #ccc;
     border-radius: 15px;
     color: #999;
     padding: 0 5px;
 }
@keyframes star {
    0%{
        box-shadow: 0 0 1px rgba(24,142,238,0.2);
    }
    50%{
        box-shadow: 0 0 5px 5px rgba(24,142,238,0.2)
    }
    100%{
        box-shadow: 0 0 1px 1px rgba(24,142,238,0.2);
    }

}

@keyframes progressInit {
    0% {
        transform: scaleX(0);
    }
}
@keyframes bg {
    0%{
        opacity: .3;
    }
    50%{
        opacity: .6;
    }
    to{
        opacity: .3;
    }
}
@keyframes flashing {
    0%{
        box-shadow: 0 0 1px 1px rgba(255,255,255,.3);
    }
    50%{
        box-shadow: 0 0 10px 10px rgba(255,255,255,.3);
    }
    100% {
        box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
    }

}@media (min-width: 768px) {
    .page {
        display: flex;
    }
    .left,.right {
        flex: 1;
    }
    .left {
        min-height: 560px;

    }
    .right {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        justify-content: center;
    }

}
